body {
  background-color: white;
  
}

.headerSepsis{
    font-size: 60p  x;
    display:flex;
    margin-left: 0px;
}

.logo{
  display: flex;
  margin-left: 0px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 20px;
  text-align: center;
}

.containerCard{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.cardPrevention {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }
  
  
  .cardPrevention:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerPrevention {
    padding: 2px 16px;
  }

  .cardSofa {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  

  .cardSofa:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerSofa {
    padding: 2px 16px;
  }  

  .cardCure {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  

  .cardCure:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .containerCure {
    padding: 2px 16px;
  }

  .cardSirs {
    margiN: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  
 
  .cardSirs:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerSirs {
    padding: 2px 16px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 #b8b8b8 ;
    display: flex;
  }

  .containerNav{
    display: flex;
    position: fixed;
    top: 0;
    right : 0;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
 
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    display:block;
    
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
  