body{
  background-image: linear-gradient(#A2E8FF, #7115AC);
  
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.dropdown {
  height:10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:50%;
  margin: auto;
}

.dropdown button, .home {
  background:none;
  border :none;
  color:white; 
  cursor: pointer;
}

.doctor, .patient {
  position: relative;
}

.doctor ul, .patient ul {
  background-color: white;
  position: absolute;
  margin-top: 10px;
  width: 200px;
  height:200px;
  border-radius: 5px;
  display:flex; 
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.doctor a, .patient a {
  color: black;
  text-decoration: none;
}

.dropdown button:hover , .home:hover {
  color : rgb(2224,224,224);
}

.doctor li, .patient li {
  background-color: #A2E8FF;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor li:hover, .patientn li:hover {
  
}

.headerSepsis{
    font-size: 60p  x;
    display:flex;
    margin-left: 0px;
}

.foot{
  margin: auto;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}

.containerCard{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}

.cardPrevention {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  .cardPrevention:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerPrevention {
    padding: 2px 16px;
  }

  .cardSofa {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  .cardSofa:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerSofa {
    padding: 2px 16px;
  }  

  .cardCure {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }

  .cardCure:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .containerCure {
    padding: 2px 16px;
  }

  .cardSirs {
    margiN: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  .cardSirs:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerSirs {
    padding: 2px 16px;
  }