body{
    background-image: linear-gradient(#417EB0, #5354A0);
  background-repeat: no-repeat;
  background-size: cover;
}

/*.trans{
    /*opacity: 0%;
}*/

  /* Remove extra left and right margins, due to padding in columns */
  .row 
  {
    margin: 0 -5px; 
    margin-top: 50px;
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
  }
  a:hover{
      text-decoration:none;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 20px;
    align-items: center;
    text-align: center;
    transition:0.3s;
  }
  
  .card a {
    margin-top:15px;
    text-align: center;
    color : black;  
    text-decoration: none;
  }
  
  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   .card a {
     margin-top:15px;
     text-align: center;
     color : black;  
     text-decoration: none;
   }
    .navbar {
      background-color: white;
      display: flex;
      position:sticky;
      top:0px;
      
    }
  
    .containerNav{
      display: flex;
      position: fixed;
      top: 0;
      right : 0;
    }
    
    .navbar a {
      float: right;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .dropdown {
      float: right;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color:  rgb(68, 159, 233);
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
  
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      text-align: left;
    }
    body {
    background-image: linear-gradient(#417EB0, #5354A0);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
  }
    
    .dropdown-content a:hover {
      background-color: #ddd;
      display:block;
      
    }
    
    .dropdown:hover .dropdown-content {
      display:block;
    }
  
    .languageSelect{
      display: flex;
     background-color: white;
     box-shadow:  0 3px 8px 0 #b8b8b8;
     padding: 10px;
    }
    .cardBack{
        display: block;
        margin: auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .form-control{
        border-color: rgba(97, 94, 94, 0.884);
    }
     .loginButton{
       margin-left: -1px;
       
    }
    .buttonLogin{
        width:100px;
        font-weight: bold;
    }
    .faceButton{
        margin-left: 20px;
        margin-top: 0px;
        
     }
     .buttonFace{
         width:200px;
         height:40px;
         padding-top: 5px;
         font-weight: ;

     }
     .formgroupbuttons{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .display3{
         font-size: 45px;
         font-weight: bold;
         text-align: center;
     }
     
.footer{

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
  
  }
  