{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prevention-Sepsis</title>

    <!--******BOOTSTRAP CSS**********************************************-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">

    <!--******CUSTOM CSS**********************************************-->
    <link rel="stylesheet" href="{% static '/css/prevention.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">

    <!--*******FAVICON**********************************************-->
    <link rel="icon" href="{% static '/img/favicon.ico' %}">

    <!--*****FONT AWESOME**********************************************-->
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <!--END OF HEAD**************************************************************************************-->
</head>

<body>

    <!--BODY-->
    <!--NAVIGATION BAR-->
    <div class="navbar">
        <div class="logo">
          <h3>SEPSIS</h3>
        </div>
        <div class="containerNav">
          <a href="#home">Home</a>
          <div class="dropdown">
            <button class="dropbtn">Doctor
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Login</a>
              <a href="#">Register</a>
            </div>
          </div>
    
          <div class="dropdown">
            <button class="dropbtn">Patient
              <i  class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content dropdown-content-p">
              <a href="#">Login</a>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
      </div>

    <!--~~~~~~~~~~~NAVIGATION BAR ENDS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVIGATION BAR ENDS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="wrapper">
      <div class="textWrap">
        <h2>PREVENTION</h2>
        <ul class="points">
            <li>Vaccination can be a HUGE Prevention for Sepsis</li>
            <li>Proper Hygiene is the <strong>Key</strong></li>
            <li>Seek Treatment for possible infections </li>
            <li>Take <b> Antibiotics as Directed</b> by the Doctor </li>
            <li>Take Proper care of Wounds </li>
            <li>Use of sanitary pads while in periods instead of cloth</li>
          </ul>
          </div>
    </div>
    <div class="vid">
      <video class="video"  width="45%" controls>
          <source src="{% static 'video/prevention.mp4' %}" type="video/mp4"></source>
      </video>
      <ul class="textvideoright">
        <lh><b>People Highest on Risk are</b></lh><br><br>
        <li>Infants</li>
        <li>Children</li>
        <li>Any Person who's not given proper vaccination in childhood </li>
        <li>Any Person with Serious Injuries</li>
        <li>Any Person maintaining unhygienic environment around private-parts</li>
        <li>People with Diabetes</li>
        <li>People with Cancer</li>
        <li>People on immuno-suppresin drug </li>
        <li>People with AIDS</li>
        <li>Any person who got an Organ Transplant, especially in past 6-8 months </li>
        <li>Members of any group with Unhygienic Habits/Environments</li>
    </ul>

    </div>
       
    <!--Footer-->  
    <div class="footer">
      <p>© Copyright 2020 SourceDecode SIH</p>
    </div>

</body>

</html> 